body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.header {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}

.mainBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#img1 {
  width: auto;
  height: 200px;
}

img {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  padding: 20px 150px;
  background-color: #1f2937;
  color: white;
  display: flex;
  flex: 1;
  gap: 50px;
}

.one h2 {
  font-weight: 900;
  font-size: 40px;
  overflow-wrap: break-word;
  width: 250px;
  margin: 0;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

.two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 20px 150px;
}

.two h2 {
  font-weight: 900;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: 25px;
}

.text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
}

.three {
  background-color: #e5e7eb;
  display: flex;
  flex: 1;
  text-align: center;
  overflow-wrap: break-word;
  padding: 20px 150px;
  font-size: 25px;
}

.four {
  padding: 40px 150px;
  margin: 50px 0;
  border-radius: 10px;
  color: white;
  background-color: #3882f6;
  display: flex;
  align-items: center;
  gap: 150px;
}

.signText {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: auto;
  text-align: left;
}

.signText h3,
.signText p {
  margin: 0;
}

.signButton {
  border: 1px solid #e5e7eb;
  padding: 5px 20px;
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: #1f2937;
}
